<!-- <p>
  I'm in a <em>view</em>!
  <%= Time.now %>
</p> -->


<h1> List of recipes </h1>
<% @cookbook.all.each_with_index do |recipe, index| %>
  <li>
    <% done = recipe.done? ? "[X]" : "[ ]" %>
    <a href="/recipes/<%= index +1 %>"><%= "#{index + 1}. #{done} #{recipe.name} (#{recipe.time}, #{recipe.difficulty})" %></a>
    <a href="/delete/<%= index + 1 %>" > Delete </a>
  </li>
<% end%>
<a href="/new" > Create </a>
<br>
<a href="/scrape" > Scrape </a>



